
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

html, body {font-family: 'Montserrat', sans-serif;font-weight: 400;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;}
#navbarMenu {
    background-color: #fff;box-shadow: 0 2px 2px 0px rgb(65 64 66);
}
#navbarMenu a, .page-link {color: #009aae !important;font-weight: 600;}
#navbarMenu a:hover, .page-link {color: #222 !important;}
.navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
}

a.nav-link {color: #fff!important;}
a.nav-link:hover {color: #15a8d8!important;}
.navbar-toggler {border: none;}
.navbar-toggler-icon  {filter: invert(1);}
.navbar-toggler:focus {box-shadow:none}*

.btn {
    border-radius: 3px;
    background-color: #472f92;
    color: #ffffff!important;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 13px !important;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding: 0.5rem 0.8rem;
  }
  .btn:hover {
    background-color: #15a8d8;
}
.container-xxl {padding: 0;}
.carousel img {
  filter: brightness(80%);
  width: auto;
    inset: auto auto auto 50%;
    position: relative;
    transform: translate(-50%, -25%);
    height: 100%;
}
.carousel-item {max-height: 80vh;}
.carousel-caption {right: 15%;  bottom: 33%;  left: 15%;}
.carousel-caption h2 {font-weight: 200;font-size: 4em;}
.carousel-caption h4 {font-weight: 400;text-transform: uppercase;}

.vitalcan-azul {
  color: #472f92;
}

.vitalcan-azul-bg {
  background-color: #472f92;
}

.vitalcan-celeste {
  color: #15a8d8;
}

.vitalcan-gris {
  color: #efeeee;
}

.vitalcan-gris-bg {
  background-color: #efeeee;
}

.vitalcan-gris-oscuro {
  color: #7c8288;
}
.vitalcan-violeta {
  background-color: #3a1479;
}
.vitalcan-violeta-oscuro {
  background-color: #180d2a;
}
.vitalcan-nav-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


.offcanvas {background-color: #180d2a;height: fit-content!important;}
.offcanvas h5 {color: #fff;}
/*RESPONSIVO*/
@media (max-width: 992px) {.ocultar_responsivo {display: none;}}

@media (max-width: 770px) {
  
 .separator {display: none;}
.footer_links {
  display: flex!important;
  flex-wrap: wrap!important;
  flex-direction: column!important;
  justify-content: flex-start!important;
  align-content: flex-end!important;
  align-items: flex-end!important;
  margin-top: -3em;
}
.footer .brand {width: 140px}
}/* fin RESPONSIVO*/

.footer {
  color: #999999;
  background-color: rgba(11,5,23,1);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer a {
  color: #999999;
  background-color: rgba(11,5,23,1);
  text-decoration: none;
}
.footer a:hover {
  color: #009aae ;  
  }
.separator {margin: 0 .5em;}
.footer_links {
          display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: center;
					align-content: center;
}
/* LOGIN */

.form-login {
  max-width: 450px;
}

.form-login, .form-login a {
  color: white;
  text-decoration: none;
}

.form-login .upper {
  text-transform: uppercase;
}

.form-login .form-control, .form-login .form-control::placeholder {
  background-color: transparent;
  color: white;
}

.form-login input[type=button], .form-login input[type=submit], .form-login button {
  color: white;
  background-color: #31127f;
  border-radius: 0px !important;
  border-start-end-radius: 5px !important;
  border-end-end-radius: 5px !important;
  border: none;
}
#login_club input, #login_club a {font-size: smaller;}
#login_club a:hover {
  text-decoration: underline ;  
  }
#login_club input {
  background: transparent;
  color: #fff;
  border: 1px solid #31127f;
}

 .offcanvas #login_club input {
  background: transparent;
  color: #fff;
  border: 1px solid #472f92;}
#login_club ::placeholder {
  color: #c2abfc;
}
#acceso-a-veterinarios a {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-right: 2em;
  text-decoration: none;
  color: #hsl(257, 93%, 83%);
}
#acceso-a-veterinarios .btn {

  background-color: transparent;
  border-radius: 0;
  font-size: .6em !important;
  font-weight: 400 !important;
}
/* FIN LOGIN */


/* REGISTRO */
.grilla_login {
  display: flex; flex-wrap: wrap;
}
.grilla_login > * {
  flex: 1 1 10em;
}
.registro-intro div {
  text-transform: uppercase;
  font-size: 1.6em;
}

.registro-intro .destacado{
  font-size: 1.8em;
  font-weight: 700!important;
}

.registro-intro .lista {
  text-transform: none;
  font-size: 1.4em;
}

.form-registro legend, .form-registro .step, .form-registro input[type=button], .form-registro input[type=submit] {
  text-transform: uppercase;
  font-weight: bold;
}

.form-registro input[type=button], .form-registro input[type=submit] {
  color: white;
  background-color: #15a8d8;
}

.form-registro .form-control {
  background-color: transparent;
}

.form-registro label {
  color: #7c8288;
  font-weight: bold;
  font-size: 0.9em;
}

.form-registro .botonera {
  min-height: 40px;
}

/* FIN REGISTRO */

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Demo {
    width: 100%;
    padding: 0.8em 1em 0;
    background: transparent;
    border-radius: 3px;
}
.u-ieMinHeightBugFix {
    
    display: flex;
    flex-direction: column;
}
.Aligner {
    
    display: flex;
    align-items: center;
    min-height: 18em;
    justify-content: center;
}